* {
  margin: 0;
  padding: 0;
  font-family: "averta cy w10";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
}

#page1 {
  width: 100%;
  height: 100vh;
  background-color: #1e1f2a;
}
#nav {
  display: flex;
  background-color: #252634;
  width: 100%;
  height: 10vh;
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  /* display: none; */
}
#nav-left {
  width: 40%;
  height: 10vh;
  padding: 2.5vh;
  text-align: left;
  padding-left: 40px;
  color: white;
}
#nav-left h1 {
  align-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#nav-centre {
  display: flex;
  width: 40%;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  color: white;
  text-transform: capitalize;
}
.menu a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 30px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.menu a:hover{
  color: bisque;
  background-color: #7676766d;
  border-radius: 30px;
}
/* .nav-search {
  width: 20%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#search {
  width: 80%;
  height: 5vh;
  border-radius: 30px;
  padding: 12px 20px;
  letter-spacing: 3px;
  background-color: black;
  border: 3px solid coral;
  color: white;
  padding-right: 30px;
}
#search::placeholder {
  color: rgb(255, 255, 255);
  font-size: 12px;
  letter-spacing: 10px;
}
#nav-search input {
  padding: 20px;
  font-size: 20px;
  color: rgb(255, 98, 0);
  padding-right: 40px;
  letter-spacing: 10px;
} */

#nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-right button {
  width: 90px;
  height: 40px;
  font-size: 15px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid coral;
  /* background-color: #171123; */
  /* color: white; */
}
#nav-right #signup button {
  /* background-color: white; */
  color: #171123;
}
#nav-right button:hover{
  background-color: coral;
  color: white;
  cursor: pointer;
}
#nav-right #login button {
  background-color: #171123;
  color: white;
  cursor: pointer;
}
#nav-right #login button:hover{
  background-color: coral;
}
#nav-right button a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

#home {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
#home-left {
  /* background-color: rgb(124, 106, 225); */
  width: 50%;
  height: 80vh;
  margin-top: 15vh;
  margin-right: 10px;
  padding: 20px;
}
#home-left-top {
  width: 100%;
  height: 50%;
  /* background-color: bisque; */
  margin-bottom: 10px;
  font-size: 55px;
  padding: 30px;
}
#home-left-top p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
#home-left-bottom {
  width: 100%;
  height: 50%;
  /* background-color: rgb(211, 188, 160); */
  margin-top: 10px;
  padding: 20px;
}
#home-left-bottom p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  margin: 10px;
  margin-bottom: 50px;
}
/* #home-left-bottom button {
  height: 60px;
  width: 200px;
  padding: 10px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 30px;
  border: 2px solid bisque;
}
#home-left-bottom button:hover{
  background-color: rgb(209, 100, 61);
  color: white;
  
} */

#play-btn {
  width: 20px;
  margin-left: 20px;
  color: white;
}

.text-box {
  margin-left: 40px;
  margin-top: 40px;
  background-color: bisque;
  color: #000000;
  position: relative;
  border-radius: 25px;
  width: fit-content;
}
.btn{
  color: black;
  text-align: center;
}
.btn:hover{
  color: white;
}

.btn:link,.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  height: 40px;
  width: 160px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.text-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: coral;
}

.text-box:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.text-box::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.text-box::after {
  background-color: rgb(245, 113, 65);
}

.text-box:hover::after {
  transform: scaleX(1.4) scaleY(1.8);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}


#home-right {
  /* background-color: rgb(68, 57, 133); */
  width: 50%;
  height: 80vh;
  margin-top: 15vh;
  margin-left: 10px;
}
#home-right #img {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

#page2 {
  width: 100%;
  height: 100vh;
  background-color: #b9b9b9;
}
#page3 {
  width: 100%;
  height: 100vh;
  background-color: #9c9c9c;
}
